flask~=3.0.3
chromadb~=0.6.3
openai~=1.68.2
tiktoken~=0.9.0
google-genai
docker~=7.1.0
pandas~=2.2.3
PyYAML~=6.0.2
protobuf~=5.29.4
numpy~=2.0.2
plotly~=6.0.1
google-genai
openpyxl
pdfminer.six
Pillow
tabulate
PyPDF2
BeautifulSoup4
playwright
transformers
huggingface_hub
gunicorn