flask
chromadb
openai
tiktoken
google-genai
docker
pandas
PyYAML
protobuf
numpy
plotly
google-genai
openpyxl
pdfminer.six
Pillow
tabulate
PyPDF2
BeautifulSoup4
playwright
transformers
huggingface_hub
gunicorn